@import "tailwindcss";

@theme {
  --animate-float: float 4s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }
}

/* ეს კლასი შენს ლოგოს წარწერებს და ხაზებს გახდის თეთრს */
.gela-white-filter {
  filter: brightness(0) invert(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}